<h1>Editing productdsdsa</h1>

<%= render "form", productdsdsa: @productdsdsa %>

<br>

<div>
  <%= link_to "Show this productdsdsa", @productdsdsa %> |
  <%= link_to "Back to productdsdsas", productdsdsas_path %>
</div>
